{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="{%  static  'styles.css'%}" rel="stylesheet" type="text/css">
	<title>ToDo</title>
</head>
<body>
    <div class="dj">
        <p>BFDjango TODO</p>
    </div>
    <div class="container">
            {% block body %}
            {% endblock %}
        <a id="completed_list_a" href="{%  url 'completed_list_show' %}">Back to completed tasks</a>
        <a id="uncompleted_list_a" href="{%  url 'uncompleted_list_show' %}">Back to uncompleted tasks</a>
    </div>
</body>
</html>